
nbproject/private/private.properties
nbproject/private/*
nbproject/project.properties
*.properties
nbproject/private/private.xml
*.properties
nbproject/private/private.xml
nbproject/private/*
/dist/
build/
/build/*
/build
*.class
*.properties
nbproject/project.properties
nbproject/project.properties
/*.class
*.class
build/classes/com/spotify/view/ViewFactory.class
*.class
*.xml
*.xml
